services:
  - type: web
    name: test-backend
    env: python
    python:
      version: 3.9.0
    buildCommand: |
      chmod +x build.sh
      ./build.sh
    startCommand: |
      chmod +x start.sh
      ./start.sh
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.0
      - key: DJANGO_SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: DISABLE_COLLECTSTATIC
        value: "0"
      - key: PYTHONUNBUFFERED
        value: "1"
    plan: free
